nav {
  position: absolute;
  top: 300px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

input {
  width: 500px;
}

.container-fluid {
  height: 100vh;
  background: url("https://i.picsum.photos/id/1019/5472/3648.jpg?hmac=2mFzeV1mPbDvR0WmuOWSiW61mf9DDEVPDL0RVvg1HPs");
  background-size: cover;
}

h1 {
  justify-content: center;
  color: black;
  font-size: 70pt;
  font-weight: bold;
  position: relative;
  top: 150px;
  font-family: "Train One", cursive;
}
