.container-fluid {
    /* height: 100vh; */
    background: url("https://picsum.photos/1000?random=1");
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y;
}

h1 {
    justify-content: center;
    color: black;
    font-size: 50pt;
    font-weight: bold;
    position: relative;
   
    font-family: 'Train One', cursive;
}

.card {
    background: none;
    
}

.gifs {
    max-height: 100px;
}